.about-space {
  height: 3.5rem;
  width: 100%;
}

.person-container {
  width: 100%;
  height: 30rem;
  border: 5px solid red;
  background-color: white;
  background-color: rgba(250, 250, 250, 0.9);
}

.person-image-container {
  width: 50%;
  height: 100%;
  border: 3px solid green;
}

.person-image {
  width: 50%;
  height: 100%;
  border: 3px solid green;
  content: url('../assets/ben.jpg');
  object-fit: contain;
}

.person-text {
  padding: 1rem;
  margin-left: 1%;
  width: 50%;
  height: 100%;
  border: 3px solid green;
}

.person-header {
  font-size: 3rem;
  font-weight: bold;
}

.person-header::after {
  background-color: yellow;
  // width: 15rem;
  // height: 5rem;
  // content: "\A Ben Spievak";
  // white-space: pre-wrap;
  position: absolute;

  color: yellow;
}

.person-social-media {
  height: 5rem;
  border: 1px solid red;
  width: 10rem;
}